*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;

}

.cen_navbar{
    background-color: rgba(255, 255, 255, 0.7) !important;
}

.cen_navbar div, .cen_navbar ul{
    background-color: transparent !important;
}

.cen_cont_sec_1{
    padding: 10%;
}

.cen_cont_sec_1_link{
    padding: 5%;

}

.cen_cont_sec_1_link a{
    width: 200px;
}

.cen_cont_sec_1 hr{
    border-top: 1px solid rgba(1, 1, 1, 0.3)
}